{{template "header.html" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>实时</li>
                {{range .aps}}
                <li><a href="/kiteq?apName={{.HostPort}}">{{.HostPort}}</a>
                </li>
                {{end}}
                <li>最近一小时</li>
                {{range .aps}}
                <li><a href="/kiteq/minutechart?apName={{.HostPort}}">{{.HostPort}}</a>
                </li>
                {{end}}
                <li>最近2天</li>
                {{range .aps}}
                <li><a href="/kiteq/hourchart?apName={{.HostPort}}">{{.HostPort}}</a>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <table class="table table-bordered">
                <tr>
                    <td colspan="2"> <h3>KiteQServer({{.apName}})</h3></td>
                </tr>
                <tr>
                    <th>包名称</th>
                    <th>实时值</th>
                </tr>
                 <tr>
                    <td>系统流量</td>
                    <td><div class="progress" style="height: 30px;">
                        <div  class="progress-bar progress-bar-success" style="width: {{.stats.LimterPercent}}%" >
                            {{index .stats.KiteQ.KiteServerLimter 0}}/{{index .stats.KiteQ.KiteServerLimter 1}}</div></div></td>
                </tr>
                <tr>
                    <td>系统当前协程数</td>
                    <td>{{.stats.KiteQ.Goroutine}}</td>
                </tr>
                    <tr>
                    <td>投递协程数</td>
                    <td>{{.stats.KiteQ.DeliverGo}}</td>
                </tr>
                <tr>
                    <td>接收消息总数量(秒)</td>
                    <td>{{.stats.KiteQ.RecieveCount}}</td>
                </tr>
                <tr>
                    <td>投递消息总数量(秒)</td>
                    <td>{{.stats.KiteQ.DeliverCount}}</td>
                </tr>
                 <tr>
                     <td colspan=2><h3>堆积消息总数量</h3></td>
                 </tr>
                {{range $k,$v :=.stats.KiteQ.MessageCount}}  
                 </tr>
                     <td width="30%">{{$k}}</td>
                     <td>{{$v}}</td>
                 </tr> 
                {{end}}
                 <tr>
                <td colspan=2><h3>Topic接收速度(秒)</h3></td>
                </tr>
                {{range $k,$v :=.stats.KiteQ.TopicsRecieve}}  
                <tr>
                    <td>{{$k}}</td>
                     <td>{{$v}}/s</td>
                </tr> 
               {{end}} 
                <tr>
                <td colspan=2><h3>Topic投递速度(秒)</h3></td>
                </tr>
                {{range $k,$v :=.stats.KiteQ.TopicsDeliver}}  
                <tr>
                    <td>{{$k}}</td>
                    <td>{{$v}}/s</td>
                </tr> 
               {{end}}  
               
               <tr><td colspan=2><h3>订阅分组</h3></td></tr>
                {{range $k,$v :=.topics2Groups}}  
                </tr>
                <tr>
                    <td>{{$k}}</td>
                    <td>
                        <table width="100%">
                            {{range $v}}
                            <tr>
                                <!-- <td>{{.}}&nbsp;&nbsp;<a href="/kiteq/delsub?apName={{$.apName}}&group={{.}}&topic={{$k}}">删除</a></td> -->
         
                                <!-- 删除确认框 -->
                                <td width="30%">{{.GroupId}}<div class="progress" style="height: 30px;"><div  class="progress-bar progress-bar-success" style="width:{{.Percent}}%" >{{index .Limiter 0}}/{{index .Limiter 1}}</div></div></td>
                                <td><div style="height: 30px;margin-bottom: 20px;margin-left:20px"><button class="btn btn-danger "  style="height: 30px;" data-href="/kiteq/delsub?apName={{$.apName}}&group={{.GroupId}}&topic={{$k}}" data-toggle="modal" data-target="#myModal_{{.GroupId}}_{{$k}}">删除</button>
                                </div></td>
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal_{{.GroupId}}_{{$k}}" tabindex="-1" role="dialog" 
                                   aria-labelledby="myModalLabel" aria-hidden="true">
                                   <div class="modal-dialog">
                                      <div class="modal-content">
                                         <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" 
                                               aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                               是否要删除该订阅分组?
                                            </h4>
                                         </div>
                                          <div class="modal-body">
                                            Topic={{$k}}<br>
                                            GroupId={{.GroupId}}
                                          </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" 
                                               data-dismiss="modal">关闭
                                            </button>
                                            <a class="btn btn-danger btn-ok">确认</a>
                                         </div>
                                      </div><!-- /.modal-content -->
                                   </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <script type="text/javascript">
                                    $('#myModal_{{.GroupId}}_{{$k}}').on('show.bs.modal', function(e) {
                                        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                                    });
                                </script>
                            </tr>
                            {{end}}
                        </table>
                    </td>
                </tr> 
                {{end}}
                <tr><td colspan=2><h3>连接分组</h3></td></tr>
          
                {{range $k,$v :=.stats.KiteQ.Groups}}  
                <tr>
                    <!-- groupid -->
                   <td colspan=2>
                       <div style="height: 30px;margin-bottom: 20px;margin-left:20px">
                           <button class="btn btn-danger "  style="height: 30px;"  data-toggle="modal" data-target="#conn_modal_{{$k}}">{{$k}}</button>
                        </div>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="conn_modal_{{$k}}" tabindex="-1" role="dialog" 
                                aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">{{$k}}</h4>
                                    </div>
                                <div class="modal-body">
                                    {{range _,$e := $v}}
                                        <button class="btn btn-primary" data-toggle="modal" data-target="">{{$e}}</button>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr> 
                {{end}}       
            </table>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         
            <table class="table table-bordered">
                 <tr>
                    <td colspan="3"><h3>NetWork</h3></td>
                </tr>
                <tr>
                    <th>包名称</th>
                    <th>每分钟包数</th>
                    <th>当天累积包数</th>
                </tr>
               <tr>
                    <td>网路读 字节数/包数</td>
                    <td>{{.stats.Network.ReadBytes}}/{{.stats.Network.ReadCount}}</td>
                   <td>-</td>
                </tr>
               <tr>
                <td>网路写 字节数/包数</td>
                <td>{{.stats.Network.WriteBytes}}/{{.stats.Network.WriteCount}}</td>
                <td>-</td>
                </tr>
                <tr>
                    <td>分发协程数</td>
                    <td>{{.stats.Network.DispatcherGo}}</td>
                    <td>-</td>
                </tr>
                    <tr>
                    <td>当前连接数</td>
                    <td>{{.stats.Network.Connections}}</td>
                    <td>-</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{template "footer.html" .}}