{{template "header.html" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>消息主题</li>
                {{range .topics}}
                <li><a href="/kiteq/index?topic={{.}}">{{.}}</a></li>
                {{end}}
            </ul>
             <ul class="nav nav-sidebar">
                <li>订阅分组</li>
                {{range .topics}}
                <li><a href="/kiteq/index/bind?topic={{.}}">{{.}}</a></li>
                {{end}}
            </ul>
        </div>

        
        <!--topic机器列表-->
        <div id="topic_{{.topic}}" style="height:600px;">
            
        </div>
      
         <script type="text/javascript">
            require.config({
                paths: {
                    echarts: '/public/js/echarts/build/dist'
                }
            });

            require(
            [
                'echarts',
                'echarts/chart/tree' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('topic_{{.topic}}'));
                var  option = {
                    title : {
                        text: '{{.topic}}'
                    },
                    toolbox: {
                        show : false,
                        feature : {
                            mark : {show: true},
                            dataView : {show: false, readOnly: true},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    series : [
                        {
                            name:'树图',
                            type:'tree',
                            orient: 'horizontal',  // vertical horizontal
                            rootLocation: {x: 400,y: 300}, // 根节点位置  {x: 100, y: 'center'}
                            nodePadding: 20,
                            layerPadding: 200,
                            hoverable: false,
                            roam: true,
                            symbolSize: 6,
                            itemStyle: {
                                normal: {
                                    color: '#4883b4',
                                    label: {
                                        show: true,
                                        position: 'left',
                                        formatter: "{b}",
                                        textStyle: {
                                            color: '#000',
                                            fontSize: 5
                                        }
                                    },
                                    lineStyle: {
                                        color: '#ccc',
                                        type: 'curve' // 'curve'|'broken'|'solid'|'dotted'|'dashed'

                                    }
                                },
                                emphasis: {
                                    color: '#4883b4',
                                    label: {
                                        show: true
                                    },
                                    borderWidth: 1
                                }
                            },
                            
                            data: eval({{raw .treeData}})
                            
                        }
                    ]
                };

                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
    );

     </script>
</div>
{{template "footer.html" .}}